[submodule "r"]
	path = r
	url = https://github.com/ewascatalog/ewascatalog-r.git
[submodule "published-EWAS"]
	path = published-EWAS
	url = https://github.com/ewascatalog/published-EWAS
[submodule "EWAS-analysis"]
	path = EWAS-analysis
	url = https://github.com/ewascatalog/EWAS-analysis/
